.fanimage .img-fluid{
    width: 70%;
    height: 70%;
}
.fanimage, .fansetup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-check-input:checked{
    background-color: #5D5FEF;
    padding: 10px 25px;
    margin-bottom: 20px;
}
.form-check-input{
    padding: 10px 25px;
    margin-bottom: 20px;
}
.fansetup .img-fluid{
    width: 60%;
    height: 60%;
}
.fansetup{
    flex-direction: column;
}
.fixthreshold{
    color: rgb(164, 164, 164);
    text-decoration: none;
}
.degree{
    font-size: 60px;
}
.textdegree{
    font-size: 15px;
}
.thresholdtitle{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
