.sidebar-container {
    max-width: 300px; 
}
.sidebaritems {
    width: 35x;
    height: 35px;
    margin-left: 30px;
}
.advertisements {
    width: 80%;
    background-color: #5D5FEF;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}